#!/bin/zsh

if [ $(uname) = "Linux" ]
then
    export JAVA_HOME=$(readlink -f /usr/bin/javac | sed "s:bin/javac::")
    . $HOME/loadrc/mdadmrc/check_raid.sh
fi

RMDISABLE=$HOME/loadrc/."`hostname`".rm.disable

if [ -f ${RMDISABLE} ];
then
    alias rm='echo'
fi

export AUTOSSH_POLL=1
export CLICOLOR=1
export EDITOR="nvim"
export GREP_COLORS='mt=1;31'
export LANG="en_US.UTF-8"
export LANGUAGE="en_US:en"
export LC_ALL="en_US.UTF-8"
export LSCOLORS=Exfxcxdxbxegedabagacad
export NC='\033[0;0m' # No Color
export green='\033[0;32m'
export red='\033[0;31m'
export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
