#!/bin/zsh

export CLICOLOR=1
export LSCOLORS=Exfxcxdxbxegedabagacad
export GREP_COLOR='1;31'

export LANGUAGE="en_US:en"

if [ $(uname) = "Linux" ]
then
    export JAVA_HOME=$(readlink -f /usr/bin/javac | sed "s:bin/javac::")
    . $HOME/loadrc/mdadmrc/check_raid.sh
fi

export AUTOSSH_POLL=1
export PATH=~/bin:$PATH
export PATH=/usr/local/bin:$PATH
RMDISABLE=$HOME/loadrc/."`hostname`".rm.disable
if [ -f ${RMDISABLE} ];
then
    alias rm='echo'
fi

export red='\033[0;31m'
export green='\033[0;32m'
export NC='\033[0;0m' # No Color
export PATH=~/myproject/git/tools/depot_tools:"$PATH"
export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"
export EDITOR="nvim"
