.passwd
.ssh/known_hosts
bashrc/.bash_history
bashrc/output
gstv.ready
kvmrc/.ropeproject/
vimrc/.vim/.netrwhist
vimrc/.vim/bundle/swift.vim/
vimrc/.vim/bundle/vim-ansible-yaml/
vimrc/.vim/bundle/vim-indexed-search/
vimrc/.vim/view/
