[remote "origin"]
    url = ssh://git@bitbucket.org/huangyingw/loadrc.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[remote "gitlab"]
    url = git@gitlab.com:huangyingw/loadrc.git
    fetch = +refs/heads/*:refs/remotes/gitlab/*
[push]
    remote = origin
    remote = gitlab
[gsync]
    remote = origin
    branch = master
[merge]
    allow = true
[commit]
    message = n
