*.list
*.log
.passwd
bashrc/.bash_history
bashrc/copy_files.log
bashrc/output
crontabrc/crontab_file
gstv.ready
kvmrc/.ropeproject/
tmirror.ready
vimrc/.vim/.netrwhist
vimrc/.vim/autosess/
vimrc/.vim/spell/en.utf-8.add.spl
vimrc/.vim/view/
zerotierrc/crontab_file
