[submodule "keys"]
    path = keys
    url = git@bitbucket.org:huangyingw/keys.git
    branch = dev
[submodule "vimrc/.vim/bundle/swift.vim"]
    path = vimrc/.vim/bundle/swift.vim
    url = git@bitbucket.org:huangyingw/swift.vim.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-indexed-search"]
    path = vimrc/.vim/bundle/vim-indexed-search
    url = git@bitbucket.org:huangyingw/vim-indexed-search.git
    branch = dev
[submodule "vimrc/.vim/bundle/indentLine"]
    path = vimrc/.vim/bundle/indentLine
    url = git@bitbucket.org:huangyingw/indentLine.git
    branch = dev
[submodule "vimrc/.vim/bundle/bash-support.vim"]
    path = vimrc/.vim/bundle/bash-support.vim
    url = git@bitbucket.org:huangyingw/bash-support.vim.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-docker-compose-syntax"]
    path = vimrc/.vim/bundle/vim-docker-compose-syntax
    url = git@bitbucket.org:huangyingw/vim-docker-compose-syntax.git
    branch = dev
[submodule "vimrc/.vim/bundle/python-mode"]
    path = vimrc/.vim/bundle/python-mode
    url = git@bitbucket.org:huangyingw/python-mode.git
    branch = dev
[submodule "vimrc/.vim/bundle/Dockerfile.vim"]
    path = vimrc/.vim/bundle/Dockerfile.vim
    url = git@bitbucket.org:huangyingw/Dockerfile.vim.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-autoformat"]
    path = vimrc/.vim/bundle/vim-autoformat
    url = git@bitbucket.org:huangyingw/vim-autoformat.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-fugitive"]
    path = vimrc/.vim/bundle/vim-fugitive
    url = git@bitbucket.org:huangyingw/vim-fugitive.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-gradle"]
    path = vimrc/.vim/bundle/vim-gradle
    url = git@bitbucket.org:huangyingw/vim-gradle.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-javascript-syntax"]
    path = vimrc/.vim/bundle/vim-javascript-syntax
    url = git@bitbucket.org:huangyingw/vim-javascript-syntax.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-log-syntax"]
    path = vimrc/.vim/bundle/vim-log-syntax
    url = git@bitbucket.org:huangyingw/vim-log-syntax.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-rails"]
    path = vimrc/.vim/bundle/vim-rails
    url = git@bitbucket.org:huangyingw/vim-rails.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-scala"]
    path = vimrc/.vim/bundle/vim-scala
    url = git@bitbucket.org:huangyingw/vim-scala.git
    branch = dev
[submodule "vimrc/.vim/bundle/vundle.vim"]
    path = vimrc/.vim/bundle/vundle.vim
    url = git@bitbucket.org:huangyingw/vundle.vim.git
    branch = dev
[submodule ".ssh"]
    path = .ssh
    url = git@bitbucket.org:huangyingw/.ssh.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-phpfmt"]
    path = vimrc/.vim/bundle/vim-phpfmt
    url = git@bitbucket.org:huangyingw/vim-phpfmt.git
    branch = dev
[submodule "vimrc/.vim/bundle/delimitMate"]
    path = vimrc/.vim/bundle/delimitMate
    url = git@github.com:Raimondi/delimitMate.git
[submodule "macvim"]
    path = macvim
    url = git@bitbucket.org:huangyingw/macvim.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-anyfold"]
    path = vimrc/.vim/bundle/vim-anyfold
    url = git@bitbucket.org:huangyingw/vim-anyfold.git
[submodule "neovim"]
    path = neovim
    url = git@github.com:huangyingw/neovim.git
    branch = dev
[submodule "vimrc/.vim/bundle/LargeFile"]
    path = vimrc/.vim/bundle/LargeFile
    url = git@github.com:huangyingw/LargeFile.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-buffergator"]
    path = vimrc/.vim/bundle/vim-buffergator
    url = git@bitbucket.org:huangyingw/vim-buffergator.git
[submodule "vimrc/.vim/bundle/vala.vim"]
    path = vimrc/.vim/bundle/vala.vim
    url = git@bitbucket.org:huangyingw/vala.vim.git
    branch = dev
[submodule "vimrc/.vim/bundle/vim-ghost"]
    path = vimrc/.vim/bundle/vim-ghost
    url = git@github.com:huangyingw/vim-ghost.git
[submodule "vimrc/.vim/bundle/asyncrun.vim"]
	path = vimrc/.vim/bundle/asyncrun.vim
	url = git@github.com:skywind3000/asyncrun.vim.git
[submodule "vimrc/.vim/bundle/cscope_dynamic"]
    path = vimrc/.vim/bundle/cscope_dynamic
    url = git@github.com:huangyingw/cscope_dynamic.git
