*.deb
*.list
*.log
*.pkg
.passwd
bashrc/.bash_history
bashrc/copy_files.log
bashrc/output
crontabrc/crontab_file
files.proj
gstv.ready
host_links/ubuntu/home/parallels/.config/smplayer/smplayer.ini
kvmrc/.ropeproject/
tmirror.ready
tosmirror.ready
var/
vimrc/.vim/.netrwhist
vimrc/.vim/autosess/
vimrc/.vim/spell/en.utf-8.add.spl
vimrc/.vim/view/
zerotierrc/crontab_file
var/
.config/nvim/lua/secret_config.lua
