#!/bin/zsh
#alias restartWifi='$HOME/loadrc/osxrc/restart_wifi.sh'

if [ $(uname) = "Darwin" ]
then
    if ! (sudo systemsetup -getcomputersleep | grep -q Never) ; \
        then \
        sudo systemsetup -setcomputersleep Never; \
        fi
fi
brew services start clipper
