#!/bin/zsh
#alias restartWifi='$HOME/loadrc/osxrc/restart_wifi.sh'

if ! (sudo systemsetup -getcomputersleep | grep -q Never)
then
    sudo systemsetup -setcomputersleep Never
fi

~/loadrc/setup_bidirectional_clipboard.sh
brightness -m 0.080217
