#!/bin/zsh
#alias restartWifi='$HOME/loadrc/osxrc/restart_wifi.sh'

if [ $(uname) = "Darwin" ]
then
    if ! (sudo systemsetup -getcomputersleep | grep -q "after 1 minutes") ; \
        then \
        sudo systemsetup -setcomputersleep 1; \
        fi
fi
