#!/bin/zsh
#alias restartWifi='$HOME/loadrc/osxrc/restart_wifi.sh'
#export PATH="$HOME/anaconda3/bin:$PATH"
alias restartBluetooth='$HOME/loadrc/osxrc/restart_bluetooth.sh'

if [ $(uname) = "Darwin" ]
then
    if ! (sudo systemsetup -getcomputersleep | grep -q Never) ; \
        then \
        sudo systemsetup -setcomputersleep Never; \
        fi
fi
