mkdir -p /media/volgrp/myproject/git/AI/setup/
sshfs mini:/media/volgrp/myproject/git/AI/setup/ /media/volgrp/myproject/git/AI/setup/
mkdir -p /media/volgrp/software/
sshfs mini:/media/volgrp/software/ /media/volgrp/software/
mkdir -p /media/volgrp/myproject/git/network/zerotier/ZeroTierOne/
sshfs mini:/media/volgrp/myproject/git/network/zerotier/ZeroTierOne/ /media/volgrp/myproject/git/network/zerotier/ZeroTierOne/
export SOFTWARE=/media/volgrp/software/
