mkdir -p /media/volgrp/myproject/
sshfs mini:/media/volgrp/myproject/ /media/volgrp/myproject/
mkdir -p /media/volgrp/software/
sshfs mini:/media/volgrp/software/ /media/volgrp/software/
export SOFTWARE=/media/volgrp/software/
